<ion-header>
  <ion-toolbar>
    
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form [formGroup]= "formGroup">
    
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Label Positions
        </ion-label>
      </ion-list-header>
     
        

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
        <p *ngIf="formGroup.controls.username.errors && formGroup.controls.username.dirty">E-mail inválido</p>
      </ion-item>
    

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password" ></ion-input>
      <p *ngIf="formGroup.controls.password.errors && formGroup.controls.password.dirty">Senha inválida</p>
    </ion-item>
 
  </ion-list>

  <ion-button color="primary" expand="full" (click)="logar()" [disabled]="formGroup.invalid">ENTRAR </ion-button>
</form>
</ion-content>